<html>
  <body>
    <p>Olá {{ name }},</p>
    <p>Click no botão abaixo para recuperar sua senha</p>
    <p><a href="{{ url }}">Recuperar</a></p>
    <p>Se você não solicitou este e-mail, pode ignorá-lo com segurança.</p>
  </body>
</html>