<html>
  <body>
    <table cellspacing='0' cellpadding='10' border='0'>
      <tr>
        <td valign='top'>
          Olá,
          <strong>{{name}}</strong>
        </td>
      </tr>
      <tr>
        <td>
          Você solicitou recuperação de sua senha de acesso. 
          Para realizar a troca, clique no botão abaixo.
        </td>
      </tr>
      <tr>
        <td>Caso não tenha sido você quem solicitou a alteração da senha, basta
          ignorar este e-mail.</td>
      </tr>
      <tr>
        <td>
          Obrigado!
          <strong>Equipe Enzitech</strong>
        </td>
      </tr>
    </table>

    <button
      style='border-radius:8px; border:none; margin:20px 0; height:45px; width:210px; cursor:pointer; background:#008BD2;'
    >
      <a
        style='font-size:16px; font-weight: 600; text-decoration:none; color: #fff;'
        href={{link}}
        target='_blank'
      >Recuperar minha senha</a>
    </button>
  </body>
</html>